/**
 * OVERVIEW
 *
 * This project is separated to the following style sheets:
 *
 * normalize.min.css....CSS reset.
 * base.css.............Global rules and helpers.
 * layout.css...........CSS rules that control the layout of the page.
 * components.css.......Own CSS for the components that build up the page.
 */


/**
 * CONTENTS
 *
 * SETTINGS
 * Variables............Globally-available variables.
 * Box-sizing...........Better default `box-sizing`.
 * Margins..............Top and bottom margins global values.
 *
 * BASE STYLES
 * Headings.............H1-H2 styles.
 * Base font............Base font style.
 *
 */




 /*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
    --bg-primary:           #fff;
    --bg-secondary:         #151c23;
    --bg-green:             #7cc343;
    --bg-hover:             #85d049;;
    --primary-font-color:   #000;
    --secondary-font-color: #fff;
    --btn-main-color:       #;
    --btn-secondary-color:  #;
  }
  
  
  
  
  
  /*------------------------------------*\
    #BOX-SIZING
  \*------------------------------------*/
  
  * {
    box-sizing: border-box;
  }
  
  
  
  
  
  /*------------------------------------*\
    #OVERFLOW
  \*------------------------------------*/
  
  html {
    overflow-x: hidden;
  }
  
  
  
  
  
  /*------------------------------------*\
    #PADDING & MARGINS
  \*------------------------------------*/
  
  .pr-5 {
    padding-right: 5%;
  }

  
  
    
  
  /*------------------------------------*\
    #TYPOGRAPHY
  \*------------------------------------*/
    
  h1, .h1 {
    font-size: calc(2.45rem + 1.4vw);
    line-height: calc(3.3rem + 1.4vw);
    letter-spacing: -0.115rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  h2, .h2 {
    font-size: calc(1.55rem + 1.1vw);
    line-height: calc(3rem + 0.5vw);
    letter-spacing: normal;
    font-weight: 700;
  }
  
  h3, .h3 {
    font-size: calc(0.92rem + 0.3vw);
    line-height: calc(1.5rem + 0.3vw);
    letter-spacing: normal;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  
  h4, .h4 {
    font-size: calc(0.65rem + 0.1vw);
    line-height: calc(1.3rem + 0.1vw);
    letter-spacing: normal;
    font-weight: 500;
  }
  
  
  body, p, .p {
    font-size: calc(1.2rem + 0.3vw);
    line-height: calc(2.4rem + 0.3vw);
    font-weight: normal;
  }

  .small, p .small, small, .small p {
    font-size: calc(0.9rem + 0.1vw);
    line-height: calc(1.8rem + 0.1vw);
    font-weight: normal;
  }
  
  .large-title {
    font-size: calc(2.65rem + 2.4vw);
    line-height: calc(3rem + 2.4vw);
    letter-spacing: -0.325rem;
    font-weight: bold;
  }
  
  
  
  

  /*------------------------------------*\
    #BASE FONT
  \*------------------------------------*/
  
  html {
    font-size:   100%;
    font-family: 'Montserrat', sans-serif;;
    color:       var(--secondary-font-color);
  }





  /*------------------------------------*\
    #COLOR SYSTEM
  \*------------------------------------*/

  .light {
    color: var(--secondary-font-color);
  }

  .dark {
    color: var(--primary-font-color);
  }

  .bg-light {
    background-color: var(--bg-primary);
  }

  .bg-dark {
    background-color: var(--bg-secondary);
  }





  /*------------------------------------*\
    #IMGAES
  \*------------------------------------*/

  img {
    border-radius: 4px;
  }