/**
 * CONTENTS
 *
 * FLEXBOX
 * POSITIONS
 * BOX-SHADOW
 * BUTTONS
 * CARDS
 * TEXT WITH IMAGE
 * SOCIAL MEDIA
 * ANIMATIONS
 *
 */





  /*------------------------------------*\
    #FLEXBOX
  \*------------------------------------*/

  .d-flex { display: flex; }

  .justify-content-start { justify-content: flex-start; }

  .justify-content-end { justify-content: flex-end; }

  .justify-content-center { justify-content: center; }

  .align-items-center { align-items: center; }

  .align-items-start { align-items: flex-start; }

  .align-items-end { align-items: flex-end; }





  /*------------------------------------*\
    #POSITIONS
  \*------------------------------------*/

  .relative { position: relative; }

  .absolute { position: absolute; }
  
  .full {
    height:       100vh;
    min-height:   800px;
  }





  /*------------------------------------*\
    #BOX-SHADOW
  \*------------------------------------*/

  .box-shadow { box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5); }

  .box-shadow-light { box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.5); }





  /*------------------------------------*\
    #BUTTONS
  \*------------------------------------*/

  .btn {
    position:        relative;
    display:         inline-block;
    width:           175px;
    min-width:       175px;
    padding:         13px 20px 11px;
    border-radius:   4px;
    text-transform:  uppercase;
    text-decoration: none;
    text-align:      center;
    transition:      all .3s;
    font-size:       14px;
    line-height:     15px;
    font-weight:     700;
    letter-spacing:  .1em;
  }

  .btn-green {
    background-color: var(--bg-green);
    color:            var(--secondary-font-color);
  }

  .btn-green:hover {
    color:            var(--secondary-font-color);
    background-color: var(--bg-hover);
    box-shadow:       0 4px 10px 0 rgba(255, 255, 255, 0.2);
  }

  .btn-green-dark:hover {
    background-color: var(--bg-hover);
    box-shadow:       0 4px 10px 0 rgba(0,0,0,0.2);
  }





  /*------------------------------------*\
    #CARDS
  \*------------------------------------*/

  .card {
    padding:        2rem;
    margin:         10px;
    border-radius:  16px;
    background:     var(--bg-secondary);
    color:          var(--secondary-font-color);
    flex-direction: column;
    transition:     .2s;
    min-width:      300px;
    min-height:     350px;
    box-shadow:     0 4px 10px 0 rgba(0,0,0,1);
  }

 .card h2 { margin-bottom: 0; }





  /*------------------------------------*\
    #TEXT WITH IMAGE
  \*------------------------------------*/

  .img-text {
    width:        75%;
    margin:       0 auto;
  }

  .img-text-right {
    width:        75%;
    margin:       0 auto;
    text-align:   right;
  }




  
  /*------------------------------------*\
    #SOCIAL MEDIA
  \*------------------------------------*/

  .social-icon {
    width:        20px;
    height:       20px;
    position:     relative;
    padding:      0 1rem;
  }
  .social-icon div {
    left:        0;
    right:       0;
    top:         0;
    bottom:      0;
    margin:      auto;
  }
  
  /*-----Instagram-----*/
  .instagram {
    position:          absolute;
    height:            17px;
    width:             17px;
    background-repeat: no-repeat;
  }
  
  .instagram.black { background-image: url("data:image/svg+xml,%3Csvg width='17px' height='17px' fill='%23111111' viewBox='0 0 17 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cpath d='M8.5,1.532125 C10.7695,1.532125 11.0386667,1.540625 11.9354167,1.58170833 C14.2389167,1.68654167 15.314875,2.7795 15.4197083,5.066 C15.4607917,5.96204167 15.4685833,6.23120833 15.4685833,8.50070833 C15.4685833,10.7709167 15.4600833,11.039375 15.4197083,11.9354167 C15.3141667,14.2197917 14.2410417,15.314875 11.9354167,15.4197083 C11.0386667,15.4607917 10.7709167,15.4692917 8.5,15.4692917 C6.2305,15.4692917 5.96133333,15.4607917 5.06529167,15.4197083 C2.756125,15.3141667 1.68583333,14.21625 1.581,11.9347083 C1.53991667,11.0386667 1.53141667,10.7702083 1.53141667,8.5 C1.53141667,6.2305 1.540625,5.96204167 1.581,5.06529167 C1.68654167,2.7795 2.75966667,1.68583333 5.06529167,1.581 C5.96204167,1.540625 6.2305,1.532125 8.5,1.532125 Z M8.5,-1.41669084e-16 C6.19154167,-1.41669084e-16 5.90254167,0.00991666667 4.995875,0.051 C1.90895833,0.192666667 0.193375,1.90541667 0.0517083333,4.99516667 C0.00991666667,5.90254167 -4.85722573e-16,6.19154167 -4.85722573e-16,8.5 C-4.85722573e-16,10.8084583 0.00991666667,11.0981667 0.051,12.0048333 C0.192666667,15.09175 1.90541667,16.8073333 4.99516667,16.949 C5.90254167,16.9900833 6.19154167,17 8.5,17 C10.8084583,17 11.0981667,16.9900833 12.0048333,16.949 C15.0889167,16.8073333 16.80875,15.0945833 16.9482917,12.0048333 C16.9900833,11.0981667 17,10.8084583 17,8.5 C17,6.19154167 16.9900833,5.90254167 16.949,4.995875 C16.8101667,1.91179167 15.0952917,0.193375 12.0055417,0.0517083333 C11.0981667,0.00991666667 10.8084583,-4.85722573e-16 8.5,-1.41669084e-16 Z M8.5,4.13525 C6.08954167,4.13525 4.13525,6.08954167 4.13525,8.5 C4.13525,10.9104583 6.08954167,12.8654583 8.5,12.8654583 C10.9104583,12.8654583 12.86475,10.9111667 12.86475,8.5 C12.86475,6.08954167 10.9104583,4.13525 8.5,4.13525 Z M8.5,11.3333333 C6.93529167,11.3333333 5.66666667,10.0654167 5.66666667,8.5 C5.66666667,6.93529167 6.93529167,5.66666667 8.5,5.66666667 C10.0647083,5.66666667 11.3333333,6.93529167 11.3333333,8.5 C11.3333333,10.0654167 10.0647083,11.3333333 8.5,11.3333333 Z M13.0375833,2.943125 C12.47375,2.943125 12.016875,3.4 12.016875,3.963125 C12.016875,4.52625 12.47375,4.983125 13.0375833,4.983125 C13.6007083,4.983125 14.056875,4.52625 14.056875,3.963125 C14.056875,3.4 13.6007083,2.943125 13.0375833,2.943125 Z'%3E%3C/path%3E %3C/svg%3E"); }
  
  .instagram.white { background-image: url("data:image/svg+xml,%3Csvg width='17px' height='17px' fill='%23ffffff' viewBox='0 0 17 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cpath d='M8.5,1.532125 C10.7695,1.532125 11.0386667,1.540625 11.9354167,1.58170833 C14.2389167,1.68654167 15.314875,2.7795 15.4197083,5.066 C15.4607917,5.96204167 15.4685833,6.23120833 15.4685833,8.50070833 C15.4685833,10.7709167 15.4600833,11.039375 15.4197083,11.9354167 C15.3141667,14.2197917 14.2410417,15.314875 11.9354167,15.4197083 C11.0386667,15.4607917 10.7709167,15.4692917 8.5,15.4692917 C6.2305,15.4692917 5.96133333,15.4607917 5.06529167,15.4197083 C2.756125,15.3141667 1.68583333,14.21625 1.581,11.9347083 C1.53991667,11.0386667 1.53141667,10.7702083 1.53141667,8.5 C1.53141667,6.2305 1.540625,5.96204167 1.581,5.06529167 C1.68654167,2.7795 2.75966667,1.68583333 5.06529167,1.581 C5.96204167,1.540625 6.2305,1.532125 8.5,1.532125 Z M8.5,-1.41669084e-16 C6.19154167,-1.41669084e-16 5.90254167,0.00991666667 4.995875,0.051 C1.90895833,0.192666667 0.193375,1.90541667 0.0517083333,4.99516667 C0.00991666667,5.90254167 -4.85722573e-16,6.19154167 -4.85722573e-16,8.5 C-4.85722573e-16,10.8084583 0.00991666667,11.0981667 0.051,12.0048333 C0.192666667,15.09175 1.90541667,16.8073333 4.99516667,16.949 C5.90254167,16.9900833 6.19154167,17 8.5,17 C10.8084583,17 11.0981667,16.9900833 12.0048333,16.949 C15.0889167,16.8073333 16.80875,15.0945833 16.9482917,12.0048333 C16.9900833,11.0981667 17,10.8084583 17,8.5 C17,6.19154167 16.9900833,5.90254167 16.949,4.995875 C16.8101667,1.91179167 15.0952917,0.193375 12.0055417,0.0517083333 C11.0981667,0.00991666667 10.8084583,-4.85722573e-16 8.5,-1.41669084e-16 Z M8.5,4.13525 C6.08954167,4.13525 4.13525,6.08954167 4.13525,8.5 C4.13525,10.9104583 6.08954167,12.8654583 8.5,12.8654583 C10.9104583,12.8654583 12.86475,10.9111667 12.86475,8.5 C12.86475,6.08954167 10.9104583,4.13525 8.5,4.13525 Z M8.5,11.3333333 C6.93529167,11.3333333 5.66666667,10.0654167 5.66666667,8.5 C5.66666667,6.93529167 6.93529167,5.66666667 8.5,5.66666667 C10.0647083,5.66666667 11.3333333,6.93529167 11.3333333,8.5 C11.3333333,10.0654167 10.0647083,11.3333333 8.5,11.3333333 Z M13.0375833,2.943125 C12.47375,2.943125 12.016875,3.4 12.016875,3.963125 C12.016875,4.52625 12.47375,4.983125 13.0375833,4.983125 C13.6007083,4.983125 14.056875,4.52625 14.056875,3.963125 C14.056875,3.4 13.6007083,2.943125 13.0375833,2.943125 Z'%3E%3C/path%3E %3C/svg%3E"); }
  
  /*-----Facebook-----*/
  .facebook {
    position:          absolute;
    height:            17px;
    width:             8px;
    background-repeat: no-repeat;
  }
  
  .facebook.black { background-image: url("data:image/svg+xml,%3Csvg width='8px' height='17px' viewBox='0 0 8 17' version='1.1' fill='%23111111' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cpath d='M2,5.66666667 L0,5.66666667 L0,8.5 L2,8.5 L2,17 L5.33333333,17 L5.33333333,8.5 L7.76133333,8.5 L8,5.66666667 L5.33333333,5.66666667 L5.33333333,4.485875 C5.33333333,3.80941667 5.46133333,3.54166667 6.07666667,3.54166667 L8,3.54166667 L8,0 L5.46133333,0 C3.064,0 2,1.12129167 2,3.26895833 L2,5.66666667 Z'%3E%3C/path%3E %3C/svg%3E"); }
  
  .facebook.white { background-image: url("data:image/svg+xml,%3Csvg width='8px' height='17px' viewBox='0 0 8 17' version='1.1' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cpath d='M2,5.66666667 L0,5.66666667 L0,8.5 L2,8.5 L2,17 L5.33333333,17 L5.33333333,8.5 L7.76133333,8.5 L8,5.66666667 L5.33333333,5.66666667 L5.33333333,4.485875 C5.33333333,3.80941667 5.46133333,3.54166667 6.07666667,3.54166667 L8,3.54166667 L8,0 L5.46133333,0 C3.064,0 2,1.12129167 2,3.26895833 L2,5.66666667 Z'%3E%3C/path%3E %3C/svg%3E"); }
  
  /*-----Twitter-----*/
  .twitter {
    position:          absolute;
    height:            14px;
    width:             17px;
    background-repeat: no-repeat;
  }
  
  .twitter.black { background-image: url("data:image/svg+xml,%3Csvg width='17px' height='14px' viewBox='0 0 17 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23111111'%3E %3Cpath d='M17,1.7899 C16.3745417,2.0643 15.7023333,2.2491 14.9968333,2.3324 C15.7172083,1.9061 16.2704167,1.2306 16.530375,0.4256 C15.85675,0.8204 15.1101667,1.1074 14.3154167,1.2621 C13.6800417,0.5922 12.7726667,0.1736 11.7696667,0.1736 C9.517875,0.1736 7.86320833,2.2498 8.37179167,4.4051 C5.474,4.2616 2.90416667,2.8896 1.183625,0.8043 C0.269875,2.3534 0.70975,4.3799 2.26241667,5.4061 C1.6915,5.3879 1.15316667,5.2332 0.683541667,4.9749 C0.645291667,6.5716 1.80341667,8.0654 3.48075,8.3979 C2.989875,8.5295 2.45225,8.5603 1.90541667,8.4567 C2.34883333,9.8259 3.63658333,10.822 5.16375,10.85 C3.6975,11.9861 1.85016667,12.4936 -1.77635684e-15,12.278 C1.54345833,13.2559 3.37733333,13.8264 5.3465,13.8264 C11.8220833,13.8264 15.480625,8.4217 15.259625,3.5742 C15.9410417,3.0877 16.5325,2.4808 17,1.7899 Z'%3E%3C/path%3E %3C/svg%3E"); }
  
  .twitter.white { background-image: url("data:image/svg+xml,%3Csvg width='17px' height='14px' viewBox='0 0 17 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23ffffff'%3E %3Cpath d='M17,1.7899 C16.3745417,2.0643 15.7023333,2.2491 14.9968333,2.3324 C15.7172083,1.9061 16.2704167,1.2306 16.530375,0.4256 C15.85675,0.8204 15.1101667,1.1074 14.3154167,1.2621 C13.6800417,0.5922 12.7726667,0.1736 11.7696667,0.1736 C9.517875,0.1736 7.86320833,2.2498 8.37179167,4.4051 C5.474,4.2616 2.90416667,2.8896 1.183625,0.8043 C0.269875,2.3534 0.70975,4.3799 2.26241667,5.4061 C1.6915,5.3879 1.15316667,5.2332 0.683541667,4.9749 C0.645291667,6.5716 1.80341667,8.0654 3.48075,8.3979 C2.989875,8.5295 2.45225,8.5603 1.90541667,8.4567 C2.34883333,9.8259 3.63658333,10.822 5.16375,10.85 C3.6975,11.9861 1.85016667,12.4936 -1.77635684e-15,12.278 C1.54345833,13.2559 3.37733333,13.8264 5.3465,13.8264 C11.8220833,13.8264 15.480625,8.4217 15.259625,3.5742 C15.9410417,3.0877 16.5325,2.4808 17,1.7899 Z'%3E%3C/path%3E %3C/svg%3E"); }





  /*------------------------------------*\
    #ANIMATIONS
  \*------------------------------------*/

  .moveUp {
    opacity: 0;
    -webkit-transform:        translateY(200px);
  	   -moz-transform:        translateY(200px);
			  -ms-transform:        translateY(200px);
			   -o-transform:        translateY(200px);
				   transform:         translateY(200px);

	  -webkit-transition:       all 1400ms cubic-bezier(0.835, 0, 0.110, 1); /* older webkit */
	    -webkit-transition:     all 1400ms cubic-bezier(0.835, -0.090, 0.110, 1.060);
	     -moz-transition:       all 1400ms cubic-bezier(0.835, -0.090, 0.110, 1.060);
	       -o-transition:       all 1400ms cubic-bezier(0.835, -0.090, 0.110, 1.060);
	         transition:        all 1400ms cubic-bezier(0.835, -0.090, 0.110, 1.060);
}

.moveUp.in-view {
  opacity: 1;
    -webkit-transform:        translateY(0);
  	  -moz-transform:         translateY(0);
			  -ms-transform:        translateY(0);
			   -o-transform:        translateY(0);
				   transform:         translateY(0);

    -webkit-transition:       all 1400ms cubic-bezier(0.835, 0, 0.110, 1); /* older webkit */
	    -webkit-transition:     all 1400ms cubic-bezier(0.835, -0.090, 0.110, 1.060);
	      -moz-transition:      all 1400ms cubic-bezier(0.835, -0.090, 0.110, 1.060);
	        -o-transition:      all 1400ms cubic-bezier(0.835, -0.090, 0.110, 1.060);
	          transition:       all 1400ms cubic-bezier(0.835, -0.090, 0.110, 1.060);
}

/*---Fade In---*/
.fadeIn {
  opacity: 0;
    -webkit-transition:       all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      -moz-transition:        all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -o-transition:        all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
          transition:         all 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.fadeIn.in-view {
  opacity: 1;
    -webkit-transition:       all 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      -moz-transition:        all 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -o-transition:        all 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
          transition:         all 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}